<form class="ui form" style="text-align: center;" [formGroup]="configForm">
	<h4 class="dividing header">Configuration</h4>
	<div class="field">
		<label>Upload Config:</label>
		<div style="width: 300px; margin: 0 auto;">
			<span *ngIf="!configFromUploadFile; else fileAdded">
				<label for="file" class="ui primary basic icon button" style="width: 150px; margin: 0 auto;">
						<i class="file icon"></i>
						Upload File
				</label>
			</span>
			<ng-template #fileAdded>
				{{configFromUploadFile.name}}
				<button class="ui labeled compact icon button" style="display: block; margin: 10px auto 0;" (click)="onUndoFileClick()">
					<i class="undo icon"></i>
					Remove file
				</button>
			</ng-template>
			<input type="file" id="file" style="display:none" (change)="onFileChangeClick($event)">
		</div>
	</div>

	<div class="ui horizontal divider">Or</div>

	<div class="field">
		<label for="configUrl">From URL:</label>
		<input type="text" id="configUrl" style="max-width: 500px;" [formControl]="configForm.get('configUrl')" [disableCond]="isConfigUrlDisabled"/>
	</div>
</form>