target/
bower_components/
node_modules/
dist/
.idea/
.tmp/
.project
.settings
.metadata/
*.iml
*.log
*.tmp
*.zip
*.bak
*.versionsBackup
dependency-reduced-pom.xml
bin/
.vscode/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/.DS_Store